@import url("https://fonts.googleapis.com/css?family=Mandali&display=swap");
*,
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mandali', sans-serif;
  background-color: #303030;
  color: #ffffff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

@media only screen and (max-width: 825px) {
  body {
    padding-bottom: 2rem;
  }
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
}

main {
  max-width: 1080px;
}

.flashcard-form {
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (max-width: 825px) {
  .flashcard-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.flashcard-form input {
  border-radius: 8px;
  border: 1px solid black;
  color: #303030;
  background: #ffffff;
  height: 2.5rem;
  width: 12rem;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 825px) {
  .flashcard-form input {
    margin-right: 0rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flashcard-form button {
  height: 2.5rem;
  width: 10rem;
  background-color: #3e50b4;
  border: none;
  -webkit-box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 2px 6px 1px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  font-size: 1rem;
}

.display-error {
  text-align: center;
  color: #3e50b4;
  margin-bottom: -2rem;
}

ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 4rem;
}

@media only screen and (max-width: 825px) {
  ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

ul li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.delete-card {
  cursor: pointer;
  color: #ff3f80;
  background: none;
}

.card {
  background-color: #424242;
  border-radius: 8px;
  height: 20rem;
  text-align: center;
  position: relative;
  padding: 3rem 1rem;
  -webkit-box-shadow: -1px 3px 9px 2px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 3px 9px 2px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 825px) {
  .card {
    width: 90%;
    height: 30rem;
    margin: 0 auto;
  }
}

.card .delete-card {
  position: absolute;
  right: 10px;
  top: 0px;
}

.flip-enter-active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.flip-enter {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-leave {
  display: none;
}
/*# sourceMappingURL=style.css.map */